@model List<Project>

@foreach (Project item in Model)
{
    <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="portfolio-wrap">
            <img src="~/assets/img/portfolio/@item.Image" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>@item.Name</h4>
                <div class="portfolio-links">
                    <a href="~/assets/img/portfolio/@item.Image" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Name"><i class="bx bx-plus"></i></a>
                    <a href="/Projects/Info/@item.Id" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>
    </div>
}