@model Partner
<div class="row">
    <div class="col-md-8">
        <img src="~/assets/img/clients/@Model.Img" style="width:200px" class="rounded d-block mb-3" />
        <h4>Name: <b>@Model.Name</b></h4>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
    </div>
</div>