<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Search</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Search</li>
                </ol>
            </div>

        </div>
    </section>

    <section>
        <div class="container">
            <input type="Text" placeholder="Search..." id="searchv2" class="form-control mb-3" />
            <div class="results-wrapper">
            </div>
        </div>
    </section>
</main>

<input type="hidden" id="projCount" value="@ViewBag.Count" />